<!DOCTYPE html>
<html>
<head>
.favorite {
    color: red !important;
    font-weight: bold !important;
  }
<style> 
#main {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
}

#main div {
  width: 70px;
  height: 70px;
}
</style>
</head>
<body>

<h1>The align-content Property</h1>

<div id="main">
  <div style="background-color:lightblue;"></div>
</div>
</body>
</html>